* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    background: #111111;
}

.container {
    height: auto;

} 

.create {
    width: 30vw;
    height: 5vh;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 3vh;
    background: #181818;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.9rem;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: scale 0.3s;
}

.create:hover {
    background: #111111;
    scale: 1.02;
}

.presentation {
    width: 30vw;
    height: auto;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 3vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
    background: #181818;
    box-shadow: 0 0 5px black;
    transition: scale 0.3s;
}

.presentation form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presentation input {
    width: 80%;
    height: 4vh;
    margin-top: 1vh;
    padding-left: 0.7vw;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
}

.presentation button {
    width: calc(80% + 0.7vw);
    height: 4vh;
    margin-top: 1vh;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    background: linear-gradient(90deg, rgb(37, 6, 148), rgb(0, 140, 255), rgb(47, 9, 185));
    transition: scale 0.4s;
}

.presentation button:hover {
    scale: 1.05;
    opacity: 0.9;
}

.presentation .remove {
    background: linear-gradient(90deg, rgb(120, 0, 0), rgb(200, 0, 0), rgb(150, 0, 0));
}

h2 {
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 0 0 3px black;
    height: 4vh;
    width: calc(80% + 0.7vw);
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
}